{{template "/admin/common/ly_header.html" .}}
<style>
    .home {
        display: flex;
    }

    .home_sidebar {
        width: 250px;
        height: calc(100vh - 68px);
        background-color: #ffffff;
    }

    .home_container {
        flex: 1;
        padding: 20px;
        overflow: hidden;
    }
</style>
<div class="home">
    <div class="home_sidebar">
        <!--        侧边栏-->
        {{template "/admin/common/ly_sidebar.html" .}}
    </div>
    <div class="home_container">
        <h1>管理首页</h1>
        <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light">
                    <h3 class="uk-card-title">站点信息</h3>
                    <dl class="uk-description-list">
                        <dd>有247篇文章，0条评论</dd>
                        <dd>数据库表前缀：emlog_</dd>
                        <dd>PHP版本：5.6.40</dd>
                    </dl>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
                    <h3 class="uk-card-title">官方消息</h3>
                    <dl class="uk-description-list">
                        <dd>MySQL版本：5.6.50-log</dd>
                        <dd>服务器环境：nginx/1.18.0</dd>
                        <dd>服务器空间允许上传最大文件：50M</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "/admin/common/ly_footer.html" .}}