<!--头部-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>前端笔记</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    &lt;!&ndash;    重置样式&ndash;&gt;-->
    <!--    <link rel="stylesheet" href="/static/css/normalize.css">-->
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/static/css/uikit.min.css"/>

    <!--    全局css-->
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/web/ly.css">
</head>
<body>
{{.title}}
{{template "/web/common/nav.html" .}}
